<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet" href="/public/css/styles.css">
</head>

<body class="{{detectMode mode}}">
  {{>header}}
  <div class="app-container">
    <div class="category-container">
      <div class="category-wrapper">
        {{>wrapper}}
        <div class="pagination-container" id="paginationContainer" style="display: {{pagination pages}};">
          <div class="pagination-flex">
            <div class="prev pad{{#if isFirstPage}}inactive{{/if}}"
              style="display:{{#if onePage}}none{{else}}block{{/if}};">
              <i class="arrow material-symbols-outlined{{#if isFirstPage}} inactive{{/if}}"
                data-page="{{prevPage}}">chevron_left</i>
            </div>
            {{#each (pagesToShow pages page)}}
            <a href="/filtered?yearIds={{../yearIds}}&page={{this}}"
              class="number pad{{#if (isCurrentPage this ../page)}} active-pagination{{/if}}"
              data-page="{{this}}">{{this}}</a>
            {{/each}}
            <div class="next pad{{#if isLastPage}} inactive{{/if}}"
              style="display:{{#if onePage}}none{{else}}block{{/if}};">
              <i class="arrow material-symbols-outlined{{#if isLastPage}} inactive{{/if}}"
                data-page="{{nextPage}}">chevron_right</i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{>bottom}}
  {{>footer}}
  <div class="overlay-container"></div>
  <div class="toast-container"></div>
  <script src="/public/js/filter.mjs" type="module"></script>
</body>

</html>